*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #282828;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

canvas {
    background-color: #111;
    max-width: 100%;
    min-height: 60vh;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.score-value {
    font-weight: 700;
    font-size: 2.5rem;
    display: block;
    margin-top: -10px;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mobile-controls{
    display: none;
}



@media screen and (max-width: 768px) {
    .mobile-controls{
        display: block;
    }

    .btn-up{
        margin-left: 78px;
        margin-bottom: 10px;
        margin-top: 20px;
        padding: 6px;
    }

    .btn-left, .btn-right, .btn-down{
        padding: 6px;
        margin: 10px;
    }

    .score {
        margin-bottom: 10px;
        font-size: 2rem;
        flex-direction: row;
    }

    .score-value {
        font-size: 2rem;
        display: flex;
        margin-top: 3px;
        margin-left: 4px;
    }

    .game-over {
        font-size: 2rem;
    }

    .final-score {
        font-size: 1.2rem;
    }

    .btn-play {
        font-size: 0.9rem;
    }
}